Babel==2.5.1
beautifulsoup4==4.6.0
bpython==0.16
bs4==0.0.1
Flask==1.0
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
gunicorn==19.6.0
Jinja2==2.9.6
praw==5.1.0
prawcore==0.12.0
requests==2.7.0
urllib3==1.21.1
virtualenv==15.1.0

