<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>ShowMeTheGoals</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Premier League <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/champions-league">Champions League</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/europa-league">Europa League</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

	<!-- <h1>{{ title }}</h1>
    <h3><i>{{ subheader }}</i></h3> -->
   <!--  {% for game in links %}
		<p><b>{{ game[0]}}</b></p>
    	{% for link in game[1:] %}
			<div><p  style = 'text-indent: 50px'><a href="{{ link[1] }}">{{ link[0] }}</a></p></div>
    	{% endfor %}
    {% endfor %}
 -->
  <table class="table table-sm">
  <thead class="thead-inverse" >
    <tr>
      <th>Game</th>
      <th>Goals</th>
    </tr>
  </thead>
  <tbody>
  	{% for game in links %}
    <tr>
      <td><b>{{ game[0]}}</b></td>
      <td>
    {% for link in game[1:] %}
      <p><a href="{{ link[1] }}">{{ link[0] }} </a></p> 

    
   {% endfor %}</td>
    {% endfor %}</tr>
  </tbody>
</table>

  </body>
  
</html>